{% extends "::base.html.twig" %}

{% block title %}AppBundle:Category:addFormCategory{% endblock %}

{% block body %}
<h1>Welcome to the Category:addFormCategory page</h1>
    <div class="container">
        {{ form_start(form, {action: path("app_category_addcategory"), method: "POST"}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
