{% extends "::base.html.twig" %}

{% block title %}AppBundle:Task:addFormTask{% endblock %}

{% block body %}
    <h1>Welcome to the Task:addFormTask page</h1>
    <div class="container">
        {% if errors is defined %}
            {% for error in errors %}
                Error: {{ error.message }} <br>
            {% endfor %}
        {% endif %}
        {{ form_start(form, {action: path("app_task_addtask", {"categoryId":categoryId}), method: "POST"}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
