{% extends "::base.html.twig" %}

{% block title %}AppBundle:Task:addFormTask{% endblock %}

{% block body %}
    <h1>Welcome to the Task:addFormTask page</h1>
    {{ form_start(form, {action: path("app_task_addtask"), method: "POST"}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
